In [75]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [7]:
num_filas = 100

credito = np.random.randint(500000, 3000001, num_filas)  # Rango entre $500.000 y $3.000.000
dias_mora = np.random.randint(30, 91, num_filas)  # Rango entre 30 y 90 días

# Generar fechas aleatorias dentro del rango de 5 a 9 días desde la fecha actual
fecha_actual = datetime.today()
fecha_primera_cuota = [datetime.today().date() + timedelta(days=np.random.randint(5, 10)) for _ in range(num_filas)]

df_database = pd.DataFrame({
    "Credito": credito,
    "Dias mora": dias_mora,
    "Fecha primera cuota": fecha_primera_cuota
})

df_database

    Credito  Dias mora Fecha primera cuota
0    529472         80          2025-04-02
1   1832099         73          2025-04-03
2    953825         57          2025-03-31
3   2490108         76          2025-03-31
4   2695833         49          2025-04-02
..      ...        ...                 ...
95  2617324         39          2025-04-04
96  2621291         63          2025-03-31
97  1840942         47          2025-04-03
98  1430338         82          2025-04-01
99  1001524         63          2025-03-31

[100 rows x 3 columns]

In [ ]:
# Convertir a CSV
df_database.to_csv("../Hackathon Sistecredito/Datasets/database.csv", index=False)

In [80]:
def calcular_plan_pago(df):
    fila = df.sample(1).iloc[0]  # Seleccionar aleatoriamente una fila
    
    credito = fila["Credito"]
    fecha_primera_cuota = fila["Fecha primera cuota"]
    
    tipo_pago = np.random.choice(["Mensual", "Quincenal"])
    
    # Definir cuotas posibles según el crédito y el tipo de pago
    cuotas_dict = {
        "Mensual": {
            (500000, 1000000): [2, 3, 4],
            (1000001, 2000000): [4, 5, 6],
            (2000001, 3000000): [6, 7, 8]
        },
        "Quincenal": {
            (500000, 1000000): [4, 6, 8],
            (1000001, 2000000): [8, 10, 12],
            (2000001, 3000000): [12, 14, 16]
        }
    }
    
    # Seleccionar rango correspondiente
    for rango, cuotas_posibles in cuotas_dict[tipo_pago].items():
        if rango[0] <= credito <= rango[1]:
            cuotas = np.random.choice(cuotas_posibles)
            break
    
    monto_cuota = credito / cuotas
    
    return {
        "Credito": credito,
        "Dias mora": fila["Dias mora"],
        "Fecha primera cuota": fecha_primera_cuota,
        "Cuotas": cuotas,
        "Monto por cuota": round(monto_cuota, 2),
        "Tipo de pago": tipo_pago
    }

# Ejecutar la función con el DataFrame existente
resultado = calcular_plan_pago(df_database)

# Imprimir resultados de manera más organizada
print(f'Credito: ${resultado["Credito"]}')
print(f'Días de mora: {resultado["Dias mora"]}')
print(f'Fecha primera cuota: {resultado["Fecha primera cuota"]}')
print(f'Cuotas {resultado["Tipo de pago"]}: {resultado["Cuotas"]}')
print(f'Monto por cuota: ${resultado["Monto por cuota"]}')

Credito: $2846022
Días de mora: 64
Fecha primera cuota: 2025-04-03
Cuotas Quincenal: 16
Monto por cuota: $177876.38